# Maven target klasörü (derleme çıktısı)
target/

# IDE ayar dosyaları
*.iml
.idea/
*.ipr
*.iws

# Eclipse dosyaları
.classpath
.project
.settings/

# OS sistem dosyaları
.DS_Store
Thumbs.db

# Loglar
*.log

# Temporary files
*.tmp